*/__pycache__
src/unity_animation_player/__pycache__
test*.py
PREVIOUS
*.drawio
*.svg
展板.png
constant_test
site
dist
*.egg-info
*.pyc
setup.py
build/
.eggs/

examples/AnimationClip/Hihumi_Original_TSS_Interaction01.anim
examples/AnimationClip/Hihumi_Original_Victory_Start.anim
examples/AnimationClip/UIAni_Emo_Sc_Dot.anim
examples/AnimationClip/UIAni_MainStoryStageListItemUnlock.anim